<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width"> <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body layout="column" ng-app="frontendApp">
    <!--[if lte IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <md-toolbar class="md-accent" ng-controller="NavCtrl">
        <div class="md-toolbar-tools">
            <h3 class="md-display-1" style="line-height: 1">Sample Arch Angular <br><span class="md-subhead">{{subHeader}}</span></h3>
        </div>
    </md-toolbar>
    <md-content layout="column" class="md-padding" ng-view="">
    </md-content>
    <script src="scripts/vendor.js"></script>
    <script src="scripts/scripts.js"></script>
</body>
</html>